Basics/Decorators/venv/
Basics/Decorators/.idea/

Basics/Property_decorators/.idea/
Basics/Property_decorators/venv/

Advanced/Typing/venv/
Advanced/Scope/venv
Advanced/Iterables_and_Iterators/Example_2_Fibonacci_Sequence/__pycache__
Advanced/Iterables_and_Iterators/Example_1/__pycache__

Basics/.DS_Store
.DS_Store
